page-register {
    ion-list {
        width: 80%;
        margin: auto !important;
    }
    ion-item {
        height: 80px;
    }

    .company-logo-container {
        background-color: map-get($colors, primary);
    }
}
