EmptyMessage {
   ion-card {
       //height: 10vh !important;
       margin-top: 50px !important;
       display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-content: center;
        border-left: 5px solid map-get($colors, primary);
        border-radius: 8px !important;
   } 
   ion-card-content {
       font-size: 26px !important;
       margin: auto !important;
   }
}