page-rewards {
     $primary: map-get($colors, primary);


     .ion-card-top {
        position: relative;
        text-align: center;
        width: 100% !important;
        border-bottom: 4px solid $primary;
        border-top: 4px solid $primary;
    }

    .top-card-footer {
        position: absolute;
        top: 60%;
        font-size: 14px;
        width: 100%;
        font-weight: bold;
        color: white;
    }
    .border-right { border-right: 3px solid white;}

    .logo-page-specific-container {
        position: absolute;
        top: 5%;
        margin-left: 25% !important;
        width: 50%;
    }

    .points-number {
        font-size: 1.8em;
    }

    .reward-card-container {
        width: 80% !important;
        margin: auto;
    }

    .reward-card {
        border-radius: 0px !important;
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    .reward-card-title {
        position: absolute;
        top: 20%;
        font-size: 36px;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }

    .reward-card-expiry {
        font-size: 16px;
        position: absolute;
        top: 80%;
        width: 100%;
        color: #fff;
    }

    .reward-header {
        position: absolute;
        top: 0;
        font-size: 16px;
        padding: 8px;
        width: 100%;
        text-align: center;
        margin: auto;
        color: white;
        background-color: map-get($colors, primary)
    }
}
