<ion-header color="dl-white">
  <ion-navbar color="dl-white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <!-- sub header -->
  <!--
  <ion-toolbar color="primary" *ngIf="ownerAlert">
    <ion-title text-center>{{ ownerAlert.headline }}</ion-title>
  </ion-toolbar>
  -->
  <ion-card tappable class="hover" *ngFor="let x of cards" (click)="nav(x)">
    <img alt="{{ x.title}} Image" [src]="x.imgSrc"/>
    <div class="card-title">{{ x.title }}</div>
    <div class="card-subtitle">{{ x.subtitle }}</div>
    <div *ngIf="x.id === 1" class="card-points">Current Points: &nbsp; <span class="card-points-number">{{ points }}</span></div>
  </ion-card>
</ion-content>