page-home {
    ion-card {
        position: relative;
        text-align: center;
        box-shadow: 2px 3px 10px black !important;
        border-radius: 2px !important;
    }

    ion-card > img {
        height: 250px !important;
        filter: brightness(95%);
        //filter: blur(1px);
    }

    .card-title {
        position: absolute;
        top: 13%;
        font-size: 38px;
        width: 100%;
        font-weight: bold;
        color: #fff;
        letter-spacing: 2.6px;
        font-variant: small-caps;
    }

    .card-subtitle {
        font-size: 18px;
        position: absolute;
        top: 55%;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        color: #fff;
        font-variant: small-caps;
       // font-weight: bold;
    }

    .card-points {
        font-size: 13px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100%;
        color: #fff;
        text-align: right;
    }

    .card-points-number {
        font-size: 15px;
        font-weight: bold;
    }

    .blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px); 
    }
}
