page-home {
        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            position: absolute;
            top: 20%;
            font-size: 38px;
            width: 100%;
            font-weight: bold;
            color: #fff;
            letter-spacing: 1px;
        }


        .card-subtitle {
            font-size: 19px;
            position: absolute;
            top: 55%;
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
            color: #fff;
            font-variant: small-caps;
        }

        .card-points {
            font-size: 13px;
            position: absolute;
            top: 85%;
            width: 100%;
            color: #fff;
        }

        .card-points-number {
            font-size: 15px;
            font-weight: bold;
        }

        .blur {
            -webkit-filter: blur(5px);
           -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px); 
        }
}
