
<ion-header>
  <app-header-bar appHeaderBarLogo="{{appHeaderBarLogo}}" [companyName]="companyName"></app-header-bar>
</ion-header>

<!--
<ion-header color="dl-white">
  <ion-navbar color="dl-white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="align-center header-bar-logo">                
      <img alt="logo" height="40" src="img/logo.jpg" />
    </ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-content class="card-background-page">
  <!-- sub header -->
  <!--
  <ion-toolbar color="primary" *ngIf="ownerAlert">
    <ion-title text-center>{{ ownerAlert.headline }}</ion-title>
  </ion-toolbar>
  -->
  <ion-card tappable class="hover" *ngFor="let x of cards" (click)="nav(x)">
    <img alt="{{ x.title}} Image" [src]="x.imgSrc" onError="this.src='img/default.png'; blur = true;" [ngClass]="{'blur': blur || x.imgSrc === 'img/default.png'}"/>
    <div class="card-title">{{ x.title }}</div>
    <div class="card-subtitle-container align-center">
      <div class="card-subtitle">{{ x.subtitle }}</div>
    </div>
    <div *ngIf="x.hasFooter" class="card-points">
      Current Points: &nbsp; 
      <span class="card-points-number">{{ points }}</span>
    </div>
  </ion-card>
</ion-content>