<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pay</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div class="backup-code">
    <div no-lines>Use code: {{ paymentID }}</div>
  </div>
  <div class="barcode-content-container">
    <div class="barcode-container">
      <div class="barcode">
        <!-- barcode here -->
        <div>
            <qr-code [value]="barcodeData" [size]="200"></qr-code>
        </div>
      </div>
      <div class="top-r ">mark</div>
      <div class="top-l ">mark</div>
      <div class="bottom-r ">mark</div>
      <div class="bottom-l ">mark</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar text-center *ngIf="companyDetails.hasSocialMediaRewards">
    <div class="follow-us">Post to Social Media for an extra {{ companyDetails.socialMediaPointsBonus }} points!</div>
    <ion-icon tappable *ngIf="companyDetails.hasFacebook" (click)="onShare(SOCIAL_MEDIA_TYPES.FACEBOOK)" class="icon-facebook" ios="logo-facebook" md="logo-facebook" padding-horizontal></ion-icon>
    <ion-icon tappable *ngIf="companyDetails.hasTwitter" (click)="onShare(SOCIAL_MEDIA_TYPES.TWITTER)" class="icon-twitter" ios="logo-twitter" md="logo-twitter" padding-horizontal></ion-icon>
    <ion-icon tappable *ngIf="companyDetails.hasInstagram" (click)="onShare(SOCIAL_MEDIA_TYPES.INSTAGRAM)" class="icon-instagram" ios="logo-instagram" md="logo-instagram" padding-horizontal></ion-icon>
  </ion-toolbar>
  <ion-toolbar>
    <button [disabled]="!paymentID" class="scan-barcode-btn" (click)="submit()" ion-button block detail-push>Finish  <ion-icon class="arrow-right" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon></button>
  </ion-toolbar>
</ion-footer>
