page-order-complete {
    .added-to-cart-container {
        background-color: map-get($colors, light);
        color: white;  // map-get($colors, primary);
    }

    .added-to-cart-title {
        font-size: 50px;
        text-align: center !important;
        margin: auto;
        font-variant: small-caps;
    }

    .subtitle {
        position: relative;
        top: 35px;
        font-weight: bold;
        font-variant: small-caps;
        font-size: 22px;
    }

    .white-background-btn {
        background-color: white;
        border: 1px solid white;
        color: map-get($colors, primary);
    }

    ion-card {
        position: relative;
        text-align: center !important;
        border-left: 5px solid primary;
        max-height: 140px !important;
        border-radius: 8px !important;
        max-width: 60%;
    }

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }


    /* using flexbox to give vertical spacing 1:1:1 */

    scroll-content {
        display: flex;
        flex-direction: column;
        //-webkit-align-items: center;
        //align-items: center !important;
        //margin: auto !important;
    }

    ion-grid {
        padding: 0;
        height: 100%;
    }

    .flex-3 {
        flex: 3;
    }

    .flex-2 {
        flex: 2;
    }
    .flex-1 {
        flex: 1;
    }

    .background-added-to-cart {
       // background: $background-img !important;
        background-size: cover !important;
    }

    .back-to-home-btn {
        font-size: 24px;
        padding: 15px !important;
    }

    .checkmark {
        font-size: 180px;
        color: map-get($colors, secondary );
    }



}
