
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons *ngIf="store.isOrderInProgress" end>
      <button ion-button icon-only (click)="navCheckout()">
        <!--<ion-icon class="checkout-basket" ios="md-basket" md="md-basket"> </ion-icon> -->
        Checkout<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-navbar>
</ion-header>


<!--
<ion-header>
  <AppHeaderBar appHeaderBarLogo="{{appHeaderBarLogo}}" [companyName]="companyName">
     <ion-buttons *ngIf="store.isOrderInProgress" end>
      <button ion-button icon-only (click)="navCheckout()">
        <ion-icon class="checkout-basket" ios="md-basket" md="md-basket"></ion-icon> Checkout<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </AppHeaderBar>
</ion-header>
-->

<!-- style="flex-wrap: wrap;" -->
<!-- example of iteration that will fill to next line; couldn't figure out using ion-list, ion-item
  the above flex-wrap should be a start w/o having to split into 2 arrays. this works for now
 -->
<ion-content padding>
  <empty-message *ngIf="!categories.length" message="categories"></empty-message>
  <ion-row *ngIf="categories.length">
    <ion-col *ngFor="let x of categories" col-6 style="border-bottom: 1px solid lightgray;">
      <menu-card imgSrc="{{x.imgSrc}}" [name]="x.name" (click)="navToProductsList(x)"></menu-card>
      <!--
      <ion-card tappable class="hover ion-card" (click)="navToProductsList(x)">
        <img [src]="x.imgSrc" onError="this.src='img/default.png';"/>
        <div class="card-title">{{ x.name }}</div>
      </ion-card>
    -->
    </ion-col>
  </ion-row>
</ion-content>
