<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons *ngIf="store.isOrderInProgress" end>
      <button ion-button icon-only (click)="navCheckout()">
        <ion-icon class="checkout-basket" ios="md-basket" md="md-basket"></ion-icon> Checkout<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-navbar>
</ion-header>

<!-- style="flex-wrap: wrap;" -->
<!-- example of iteration that will fill to next line; couldn't figure out using ion-list, ion-item
  the above flex-wrap should be a start w/o having to split into 2 arrays. this works for now
 -->
<ion-content padding>
  <ion-row>
    <ion-col *ngFor="let x of categories" class="" col-6 style="border-bottom: 1px solid lightgray;">
      <ion-card class="hover" (click)="navToProductsList(x)">
        <!--<img src="{{x.img}}"/>-->
        <img src="img/family.png" />
        <div class="card-title">{{ x.name }}</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
