// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$danger : map-get($colors, danger);
//$background-img : url(../../../img/computer.png) no-repeat;




.hover {cursor: pointer;}
.red { border: 1px solid red;}
.blue {border: 1px solid blue;}
.border-right { border-right: 3px solid white;}
.margin-top {margin-top: 40px !important;}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.vertical-align > * {
    display: flex !important;
   // align-content: center !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center;
}

.icon-facebook {
    color: blue;
    font-size: 24px;
}
.icon-twitter {
    color: lightblue;
    font-size: 24px;
}
.icon-instagram {
    color: tan;
    font-size: 24px;
}



.scan-barcode-btn {
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    border-top: none !important;
}

.footer-btn {
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    border-top: none !important;
}

.what-is-this {
    position: relative;
    left: 20px;
    color: map-get($colors , primary );
    font-size: 10px;
}

.arrow-right {
    position: relative;
    left: 15px;
}

.bold {font-weight: bold !important;}
.calories { 
    color: map-get($colors, primary );
    font-weight: bold;
    padding: 5px;
}

.width-25 { width: 25% !important; }
.width-50 { width: 50% !important; }
.width-80 { width: 80% !important; }

.align-center {
    text-align: center !important;
    margin: auto !important;
}

.font-20 {font-size: 20px;}
.font-12 { font-size: 12px;
}

 .error-msg {
    color: $danger !important;
}

.dollar-value-selected {
    background-color: map-get($colors, primary);
    color: white;
}

.selected {
    background-color: map-get($colors, primary) !important;
    color: white !important;
}

.checkout-basket {
    position: relative;
    right: 2px;
    font-size: 18px !important;
}



.white-btn {
    color: white !important;
    border: 1px solid white !important;
}

.discounts {
    color: map-get($colors, danger);
    font-weight: bold;
    font-style: italic;
}

.total {
    color: map-get($colors, primary) !important;
    font-weight: bold !important;
}

.exclusions-container {
   // position: fixed;
    width: 100%;
    //bottom: 100px;
   // bottom: 0;
   // right: 0;
   // left: 0;
    padding: 10px;
    font-size: 12px;
   // line-height: 1.5;
    background-color: map-get($colors, light );
    color: map-get($colors, primary);
}

.exclusions-container-not-fixed {     
    width: 100%;
    padding: 10px;
    font-size: 10px;
    line-height: 1.5;
    background-color: map-get($colors, light );
    text-align: center;
    color: map-get($colors, primary);
}

.background-img {
    // background: $background-img !important;
    background-size: cover !important;
}

.selected {
    background-color: map-get($colors, primary) !important;
    color: white !important;
}

 .logo-container {
    text-align: center !important;
    margin: auto !important;
    font-weight: bold !important;
    color: #fff !important;
}

.title-img {
    margin-top: 8px !important;
    height: 27px !important;
}


.header-bar-logo {
    //position: relative;
    //right: 33px;
   //padding-right: 44px !important;
}

ion-title {
   position: absolute;
   top: 0;
   left: 0;
   padding: 0 90px 1px;
   width: 100%;
   height: 100%;
   text-align: center;
}

// this hack made back-button work after centering logo in header bar bug
.back-button.show-back-button {
    z-index: 9999;
    display: inline-block;
}

.dl-custom-toast-container {
   > div {
        background-color: map-get($colors, danger) !important;
   }
}




/* background toolbar img 
.toolbar-background {
    background: url(../../../img/logo.jpg) !important;
    width: 100% !important;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    color: white !important;
}
*/

/* set menu/navbar style here */

// use inline like: 
//  [ngClass]="{'default-header-bar': !hasHeaderBarBackgroundImg, 
//              'has-header-bar-background-img': hasHeaderBarBackgroundImg }"
/*

.default-header-bar {
    // set normal colors here
 }
.has-header-bar-background-img {
    // set white colors here
}



*/



/* using flexbox to give vertical spacing 1:1:1

scroll-content {
    display: flex;
    flex-direction: column;
}

ion-grid {
    padding: 0;
    height: 100%;
}

ion-row {
    flex: 1;
}


*/