<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transaction History</ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-header>
  <app-header-bar appHeaderBarLogo="{{appHeaderBarLogo}}" [companyName]="companyName"></app-header-bar>
</ion-header>
<ion-content padding>
  <!-- example of list with multiple columns- 3 fields -->
  <ion-list>
    <empty-message *ngIf="!transactions.length" message="transactions"></empty-message>
    <ion-item *ngFor="let x of transactions">
      <ion-row text-wrap no-padding>
        <ion-col  class="" col-3 text-left>{{ x.purchaseDate | date }}</ion-col>
        <ion-col col-6 text-center>
            <div *ngFor="let y of x.products; let i = index;">
              <span>{{ y }}</span>
            </div>
        </ion-col>
        <ion-col class="" col-3 text-right>{{ x.total | currency:symbolDisplay:true }}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
