
<ion-header>
  <ion-navbar>
    <button (click)="dismissWithoutData()" ion-button menuToggle>
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<!--
<ion-header>
  <AppHeaderBar appHeaderBarLogo="{{appHeaderBarLogo}}" [companyName]="companyName"></AppHeaderBar>
</ion-header>
-->

<ion-content no-padding>
    <ion-card class="hover ion-card-top" no-padding no-margin>
      <img [src]="productDetails.imgSrc" onError="this.src='img/default.png';" />
      <div class="product-name">{{ productDetails.name }}</div>
      <div class="product-description">
        <div>{{productDetails.description}}</div>
        <div class="calories">{{ productDetails.caloriesLow }} - {{ productDetails.caloriesHigh }} calories</div>
      </div>
    </ion-card>
    <div padding>
       <ion-item *ngIf="productDetails.sizesAndPrices && productDetails.sizesAndPrices.length">
          <ion-label>Size</ion-label>
          <ion-select  [compareWith]="compareFn" [(ngModel)]="purchaseItem.sizeAndOrPrice" >
            <ion-option *ngFor="let x of productDetails.sizesAndPrices;" [value]="x">{{ x.name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Add-ons</ion-label>
          <ion-select  [compareWith]="compareFn" [(ngModel)]="purchaseItem.addons" multiple="true">
            <ion-option *ngFor="let x of productDetails.addonsToClient; let i = index;" [value]="x">{{ x.name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Flavors</ion-label>
          <ion-select  [compareWith]="compareFn" [(ngModel)]="purchaseItem.flavors" multiple="true">
            <ion-option *ngFor="let x of productDetails.flavorsToClient; let i = index;" [value]="x">{{ x.name }}</ion-option>
          </ion-select>
        </ion-item>
        <!-- dairy -->
        <ion-item margin-vertical *ngIf="productDetails.dairyToClient.length">
          <ion-label>Dairy</ion-label>
          <ion-select [compareWith]="compareFn" [(ngModel)]="purchaseItem.dairy" multiple="true" (ionChange)="onSelectCheckQuantityDefault($event, 'dairy')">
            <ion-option *ngFor="let x of productDetails.dairyToClient; let i = index;" [value]="x">{{ x.name }} &nbsp; <span *ngIf="x.price">{{ x.price | currency:symbolDisplay:true }}</span></ion-option>
          </ion-select>
        </ion-item>

         <!-- dairy quantity -->
          <ion-item *ngFor="let y of purchaseItem.dairy; let i = index;">
            <!-- dairy quantity -->
              <div *ngFor="let y of purchaseItem.dairy; let i = index;">
                <ion-item *ngIf="y.hasQuantity">
                  <ion-row>{{ y.name }} quantity?</ion-row>
                  <ion-row margin>
                      <ion-col>
                        <button [ngClass]="{'selected': z === purchaseItem.dairy[i].quantity }"  
                                *ngFor="let z of dairyQuantities;" 
                                ion-button outline 
                                (click)="selectDairyQuantity(i, z)">{{ z }}</button>
                      </ion-col>
                    </ion-row>
                </ion-item>
              </div>
          </ion-item>
        <!-- variety -->
        <ion-item margin-vertical *ngIf="productDetails.varietyToClient.length">
          <ion-label>Variety</ion-label>
          <ion-select [compareWith]="compareFn" [(ngModel)]="purchaseItem.variety" multiple="true">
            <ion-option *ngFor="let x of productDetails.varietyToClient; let i = index;" [value]="x">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- sweetener -->
        <ion-item margin-vertical *ngIf="productDetails.sweetenerToClient.length">
          <ion-label>Sweetener</ion-label>
          <ion-select [compareWith]="compareFn" [(ngModel)]="purchaseItem.sweetener" multiple="true">
            <ion-option *ngFor="let x of productDetails.sweetenerToClient; let i = index;" [value]="x">{{x.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item margin-vertical>
          <ion-label>Quantity</ion-label>
          <ion-select [(ngModel)]="purchaseItem.quantity">
            <ion-option *ngFor="let x of quantities; let i = index;" [value]="x">{{x}}</ion-option>
          </ion-select>
        </ion-item>
    </div>
</ion-content>
  <ion-footer *ngIf="isOrderInProgress">
    <ion-toolbar>
          <button (click)="submit()" class="footer-btn" color="primary" ion-button block>Edit</button>
    </ion-toolbar>
  </ion-footer>

