
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons *ngIf="isOrderInProgress" end>
      <button ion-button icon-only (click)="navCheckout()">
        Checkout<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{categoryName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <empty-message *ngIf="!products.length" message="products"></empty-message>
    <ion-row *ngIf="products.length" class="align-center" style="border-bottom: 1px solid lightgray;" >
      <ion-col class="align-center" *ngFor="let x of products" col-9>
          <menu-card imgSrc="{{x.imgSrc}}" [name]="x.name" (click)="navProductDetails(x)"></menu-card>          
      </ion-col>
  </ion-row>
</ion-content>
