<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons *ngIf="storeService.isOrderInProgress" end>
      <button ion-button icon-only (click)="navCheckout()">
        <ion-icon class="checkout-basket" ios="md-basket" md="md-basket"></ion-icon> Checkout<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{category.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngIf="!products.length">No products to display.</ion-item>
    <ion-item *ngFor="let x of products" class="" >
      <ion-card tappable class="hover" (click)="navToProductDetails(x)" >
        <!--<img src="{{x.img}}"/>-->
        <img src="img/family.png" />
        <div class="card-title">{{ x.name }}</div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
