
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons *ngIf="isOrderInProgress" end>
      <button ion-button icon-only (click)="navCheckout()">
        <!--<ion-icon class="checkout-basket" ios="md-basket" md="md-basket"></ion-icon> -->
        Checkout<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{categoryName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <EmptyMessage *ngIf="!products.length" message="products"></EmptyMessage>
    <ion-row *ngIf="products.length" class="align-center" style="border-bottom: 1px solid lightgray;" >
      <ion-col class="align-center" *ngFor="let x of products" col-9>
        <ion-card class="hover ion-card" tappable (click)="navToProductDetails(x)" >
          <img [src]="x.imgSrc" onError="this.src='img/default.png';"/>
          <!--<img src="img/bagels.png" onError="this.src='img/default.png';"/>-->
          <div class="card-title">{{ x.name }}</div>
        </ion-card>
      </ion-col>
  </ion-row>
</ion-content>
