page-checkout {
    .transaction-details {
        margin-top: 50px;
    }

    .exclusions {

    }

    textarea {
        height: 12vh;
    }
    
    .insufficient-funds-container {
        color: white !important;
        background-color: map-get($colors, primary);
    }

    .discounts-local {
        position: relative !important;
        right: 5px !important;
    }

    .apply-reward-btn {
        color: rgb(158, 154, 154) !important;
        border: 1px solid rgb(158, 154, 154) !important;
        width: 80%;
        height: 30px !important;
    }
}


