page-checkout {
    .transaction-details {
        margin-top: 50px;
    }

    .exclusions {

    }

    textarea {
        height: 12vh;
    }
    
    .insufficient-funds-container {
        color: white !important;
        background-color: map-get($colors, primary);
    }

    .extras-container {
        
    }

    .discounts-local {
        position: relative !important;
        right: 5px !important;
    }
}


