<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Card</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="my-card-img-container">
    <img alt="Mobile Card Image" [src]="mobileCardImgSrc" onError="this.src='img/default.png';" />
  </div>
  <div text-center>
    <div class="balance-container" padding>
      <div *ngIf="balance !== unavailable" text-center>Balance: {{ balance | currency:symbolDisplay:true }}</div>
      <div *ngIf="balance === unavailable" text-center>Balance: {{ balance }}</div>
    </div>
    <button (click)="navBarcodePayPage()" class="pay-now-btn" ion-button>Pay Now!</button>
    <ion-list inset>
      <button ion-item *ngFor="let x of items; let i = index;" (click)="nav(x)">{{x.name}}</button>
    </ion-list>
  </div>
</ion-content>
