<ion-header>
  <AppHeaderBar appHeaderBarLogo="{{appHeaderBarLogo}}" [companyName]="companyName"></AppHeaderBar>
</ion-header>


<ion-content padding>
  <div class="my-card-img-container">
    <img alt="Mobile Card Image" [src]="mobileCardImgSrc" onError="this.src='img/default.png';" />
  </div>
  <div text-center>
    <div class="balance-container" padding>
      <div *ngIf="balance !== unavailable" text-center>Balance: {{ balance | currency:symbolDisplay:true }}</div>
      <div *ngIf="balance === unavailable" text-center>Balance: {{ balance }}</div>
    </div>
    <button *ngIf="hasMobileCard" (click)="navBarcodePayPage()" class="pay-now-btn" ion-button>Pay Now!</button>
    <ion-list inset>
      <div *ngFor="let x of items; let i = index;">
        <div *ngIf="hasReturnedMobileCardData">
          <div *ngIf="x.showOnInit || x.visible">
            <button ion-item (click)="nav(x)">{{x.name}}</button>
            </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
