page-rewards-details {
      .reward-card-container {
        width: 80% !important;
        margin: auto;
    }

    .reward-card {
        border-radius: 0px !important;
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    .reward-card-title {
        position: absolute;
        top: 30%;
        font-size: 26px;
        width: 100%;
        font-weight: bold;
        color: #fff;
        letter-spacing: 2px;
    }

    .reward-card-expiry {
        font-size: 11px;
        position: absolute;
        top: 90%;
        width: 100%;
        color: #fff;
        letter-spacing: 3px;

    }


}
