
<ion-header>
  <AppHeaderBar appHeaderBarLogo="{{appHeaderBarLogo}}" [companyName]="companyName"></AppHeaderBar>
  <ion-toolbar *ngIf="distanceFilter">
     <ion-item no-lines>
      <ion-label>Show locations within miles from you: </ion-label>
      <ion-select [(ngModel)]="distanceFilter" (ionChange)="getLocationsFilterByGpsAPI(lat, long)">
        <ion-option *ngFor="let x of distances; let i = index;" [value]="x">{{x}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="margin-top">
    <EmptyMessage *ngIf="!locations.length && isLoading" longMessage="Optimizing for locations near you..."></EmptyMessage>
    <EmptyMessage *ngIf="!locations.length && !isLoading" message="locations"></EmptyMessage>
    <!--  <ion-item class="location-container item-highlight" tappable (click)="updateActive(i)" *ngFor="let x of locations; let i = index" [ngClass]="{'item-highlight': isActive === i}"> -->
    <ion-list>
      <ion-item class="location-container item-highlight" tappable *ngFor="let x of locations; let i = index">
        <div>
          <ion-item no-lines>
            <ion-thumbnail item-start>
              <img [src]="x.imgSrc">
            </ion-thumbnail>
            <div class="location-content-container">
              <div class="address">{{ x.address }}</div>
              <div class="address">{{ x.city }}, {{ x.state }} {{ x.zipcode }}</div>
              <div>
                <span *ngIf="x.distanceTo > 0.3" class="miles-away"><span class="bold">{{ x.distanceTo }}</span> miles away (approx)</span>
                <span *ngIf="x.distanceTo < 0.3" class="miles-away"> This location is really close!</span>
              </div>
              <div class="">
                <div text-wrap margin-top *ngIf="!x.isOpen" text-center class="closed font-12">{{ x.closedMessage }}</div>
                <div margin-top *ngIf="x.isOpen" text-center class="open">Open</div>
                <button *ngIf="x.isOpen" (click)="proceedToOrder(x)" ion-button outline block detail-push>Proceed to Order</button>
              </div>
            </div>

          </ion-item>
          
          <!-- positioned absolutely -->
          <button class="map-btn" mini (click)="navLocationMap(x)" ion-fab>
            <ion-icon class="map-icon" ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          <button class="hours-btn" (click)="viewHours(x)" ion-button>Hours</button>  
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<!--
<ion-content padding>
  <ion-toolbar color="dl-white">
    <ion-title text-center>Select a Location</ion-title>
  </ion-toolbar>
  <div padding>
  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="map">
      Map
    </ion-segment-button>
    <ion-segment-button value="list">
      List
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="category">

  <div *ngSwitchCase="'map'">
    <div #map id="map" style="height:100%;"></div>
  </div>

  
</div>

</ion-content>
 -->