<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Locations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <EmptyMessage *ngIf="!locations.length" message="locations"></EmptyMessage>
    <ion-list>
      <ion-item tappable (click)="updateActive(i)" *ngFor="let x of locations; let i = index" [ngClass]="{'item-highlight': isActive === i}">
        <div>
          <div class="address">{{ x.address }}</div>
          <div class="address">{{ x.city }}, {{ x.state }} {{ x.zipcode }}</div>
          <div margin-top>
            <span *ngIf="x.distanceTo"> 
                <span class="miles-away"> {{ x.distanceTo }} miles away</span>
            </span>
          </div>
          <button margin-top *ngIf="isOpen(x)" (click)="proceedToOrder(x)" ion-button outline block detail-push>Proceed to Order</button>
          <div *ngIf="!isOpen(x)" text-center class="closed">{{ closedMessage }}</div>
          <div *ngIf="isOpen(x)" text-center class="open">Open</div>

          <button class="hours-btn" (click)="viewHours(x)" ion-button>Hours</button>
          <button class="map-btn" mini (click)="navLocationMap(x)" ion-fab>
            <ion-icon class="map-icon" ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<!--
<ion-content padding>
  <ion-toolbar color="dl-white">
    <ion-title text-center>Select a Location</ion-title>
  </ion-toolbar>
  <div padding>
  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="map">
      Map
    </ion-segment-button>
    <ion-segment-button value="list">
      List
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="category">

  <div *ngSwitchCase="'map'">
    <div #map id="map" style="height:100%;"></div>
  </div>

  
</div>

</ion-content>
 -->