page-locations {

    ion-content {
        background-color: map-get($colors , light) !important;
    }
    .location-container {
        position: relative;
        border-bottom: 1px solid map-get($colors, light) !important;
        border-top: 1px solid map-get($colors, light) !important;

    }
    .miles-away {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .address {
        margin-top: 3px;
        font-size: 14px;
    }
    .closed {
        color: map-get($colors , danger);
       // border: 1px solid map-get($colors , danger );
        padding: 2px;
    }

    .open {
        color: map-get($colors, secondary);
        padding: 2px;
    }

    .hours-btn {
        position: absolute;
        top: 18px;
        right:30px;
    }

    .map-btn {
       position: absolute;
       top: 51px;
       right: 20px;
       background-color: white
    }

    .map-icon {
        color: map-get($colors, danger);
        background-color: transparent;
    }

    .item-highlight {
        background-color: map-get($colors , light) !important;
    }


}

.ios page-map.ion-page.show-page ~ .nav-decor {
  display: none !important;
}

/*ion-app._gmaps_cdv_ .nav-decor{
    display: none !important;
}*/

