<ion-header>
  <ion-navbar>
    <button (click)="dismiss()" ion-button>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3 text-center margin-top>Hours</h3>
  <ion-list margin-top>
    <ion-item text-wrap *ngFor="let x of locationHours; let i = index;">
      <div class="bold">{{ x.day }}</div>
      <ion-row>
        <div *ngIf="x.hours !== 'closed'">
          <ion-col *ngFor="let y of x.hours; let j = index;" col-6> 
            <span *ngIf="j === 0">{{ y }} &nbsp; - </span><span *ngIf="j === 1">{{ y }} </span>
           <!-- <span class="bold">{{ y }}</span> -->
           </ion-col>
        </div>
        <div *ngIf="x.hours === 'closed'">
          <ion-col class="closed">CLOSED</ion-col>
        </div>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

